head {
    background-image: url("tsunami.jpg");
    text-align: center;
}
body {
    background-image: url("tsunami.jpg");
    font-family: "Garamond";
}

h2 {
    font-family: "Garamond";
    padding-top: 50px;
}

.square {
    margin-top: 200px;
    height: 300px;
    width: 500px;
    background: #1695A3;
    margin-left:auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
}