<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/bootstrap.css" rel="stylesheet" method="post">
    <div class ="center-screen">
        <div class = "card" style="width: 30rem;">
                <div class="card-body">
                    <div id = "root">
                        <title class="card-title">Password Login</title>
                        <p></p>
                        <h2>Password Login Tester</h2>
                        <h5 class = "card-subtitle mb-2 text-muted"> A little password database manager :^)</h5>
                        <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            <label for="username">Username</label>
                            <p></p>
                            {{ form.username }}
                            <p></p>
                            <label for="password">Password</label>
                            <p></p>
                            {{ form.password }}
                            <p></p>
                            {{ form.submit }}
                        </form>
                        {% if error %}
                            <ul class="errors">There has been an error with the username or password. Please try again!</ul>
                        {% endif %}
                    </div>
                    <div class="container-md">
                        <h4><a href="{{ url_for('register') }}">Haven't Registered Yet? Click here to Register!</a></h4>
                    </div>
                </div>
        </div>
    </div>
</head>
<body>

</body>
</html>