<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/bootstrap.css" rel="stylesheet" method="post">
    <div class = "center-screen">
        <div class = "card" style="width: 30rem;">
            <div class="card-body">
                    <title>Successful Login</title>
                    <heading>The Login was a success!</heading>
                    </script>
                    <p></p>
                    <button type = 'button' onclick="window.location.href='{{ url_for('logout') }}';"> Logout </button>
            </div>
        </div>
    </div>
</head>
<body>
</body>
</html>